books.dtd

<!ELEMENT bookstore (book*)>
<!ELEMENT book (title, year, price, author+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ATTLIST book 
	category CDATA #REQUIRED
	cover (hardback|paperback) #IMPLIED
	>
<!ATTLIST title 
	lang CDATA "en" #REQUIRED 
	>



